.footer {
  &_background {
    background: linear-gradient(
        180deg,
        rgba(0, 41, 83, 0.8) 0%,
        rgba(0, 45, 91, 0.8) 100%
      ),
      url("../../images/footer.jpg");
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
  }

  &_container {
    margin: 30px 100px;
    padding: 100px 0px;
  }

  &_grid_container {
    display: flex;
    justify-content: space-between;

    svg {
      cursor: pointer;
      margin-left: -5px;
      margin-right: 10px;
    }
  }

  &_links {
    display: inline-block;

    h3 {
      color: white;
      margin-bottom: 35px;
    }

    li {
      list-style: none;
      margin-bottom: 20px;

      a {
        font-size: 14px;
        position: relative;

        &:hover::before {
          overflow: hidden;
          content: "";
          position: absolute;
          width: 100%;
          border-bottom: 1.5px solid #fff;
          bottom: -3px;
          animation: left 0.5s ease-in;
          animation-fill-mode: forwards;
          visibility: hidden;
        }
      }
    }
  }

  .footer_bottom_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
  }
}

.xsm-title {
  color: white;
  font-weight: normal;
}

@media screen and (max-width: 1544px) {
  .footer_grid_container {
    grid-gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &_container {
      margin: 20px 40px;
      padding: 20px;
    }

    &_grid_container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    .footer_links {
      margin-right: 50px;
      padding: 0;
    }

    .footer_bottom_container {
      margin: 20px 40px;
      display: block;

      svg {
        margin-left: 0px;
      }
    }
  }
}
