.footer {
  &_background {
    background: linear-gradient(
        180deg,
        rgba(0, 41, 83, 0.8) 0%,
        rgba(0, 45, 91, 0.8) 100%
      ),
      url("../../images/footer.jpg");
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
  }

  &_container {
    margin: 0px 100px;
    padding: 100px 0px;
  }

  &_grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;

    p {
      color: white;
    }

    svg {
      cursor: pointer;
    }
  }

  &_links {
    display: inline-block;
    margin-right: 80px;

    h3 {
      color: white;
      margin-bottom: 35px;
    }

    li {
      list-style: none;
      margin-bottom: 20px;

      a {
        font-size: 14px;
        position: relative;

        &:hover::before {
          overflow: hidden;
          content: "";
          position: absolute;
          width: 100%;
          border-bottom: 1.5px solid #fff;
          bottom: -3px;
          animation: left 0.5s ease-in;
          animation-fill-mode: forwards;
          visibility: hidden;
        }
      }
    }
  }

  &_bottom {
    &_container {
      margin: 50px 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media all and (max-width: 768px) {
  .footer_grid-container {
    gap: 10px;
  }

  .footer_links {
    margin: 0;
  }
}
