form {
  .form-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  input {
    padding: 20px;
    margin-bottom: 20px;
    outline: none;
    background: transparent;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.1);
    width: 100%;
  }

  textarea {
    padding: 10px;
    outline: none;
    width: 103%;
    background: transparent;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}

button {
  margin: 10px auto;
}
