form {
  .form-control {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);

    @include responsive(sm) {
      display: block;
    }
  }

  .form-elements {
    padding: 5px 0px;
  }

  label {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  input,
  textarea {
    padding: 18px 20px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 100%;
  }
}

button {
  margin: 10px auto;
  font-size: 16px;
}
