.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  .grid-items {
    text-align: start;
    border-radius: 20px;
    background: var(--background-color);
    padding: 20px 20px;

    img {
      width: 100%;
      border-radius: 10px 10px 0px 0px;
    }
  }

  .grid-link {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (max-width: 1240px) {
  .who-we-are {
    &_container {
      .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
    }
  }

  .who-we-are_right {
    margin: 0;
  }
}
