.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid white;

  &_wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(sm) {
      margin: 20px;
    }
  }

  .nav {
    margin-left: -300px;
  }

  .header_logo_name {
    margin-top: 12px;
    margin-left: 10px;
  }

  .ham-menu {
    position: relative;
    display: none;

    @include responsive(lg) {
      display: block;
    }

    @include responsive(sm) {
      display: block;
    }
  }

  .ham-open {
    width: 25px;
  }

  .nav_search {
    cursor: pointer;
  }
}

@include responsive(lg) {
  .nav,
  .nav_search {
    display: none;
  }
}

@include responsive(sm) {
  .nav,
  .nav_search {
    display: none;
  }
}

.logo-opacity {
  opacity: 0.5;
}
