.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid white;

  &_container {
    margin: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    display: flex;
    justify-content: space-between;
  }

  .header_logo_name {
    margin-top: 12px;
    margin-left: 10px;
  }

  .ham-menu {
    width: 25px;
    position: relative;
  }

  .nav_search {
    cursor: pointer;
  }
}

.menu-items {
  display: none;
  position: absolute;
  right: -20px;
  top: 40px;
  width: 100vw;

  ul {
    list-style: none;
    background-color: rgb(3, 3, 3);
    padding: 150px 20px 130px 20px;

    li {
      text-decoration: none;
      color: white;
      margin-bottom: 50px;

      a {
        cursor: pointer;
        font-size: 48px;
        &:hover {
          color: red;
        }
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .ham-menu {
    display: none;
  }
}

@media screen and (max-width: 1240px) {
  .header_container {
    margin: 20px;
  }

  .ham-menu {
    display: block;
  }

  .nav,
  .nav_search {
    display: none;
  }
}
