.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid white;

  &_container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(mobile) {
      margin: 20px;
    }
  }

  .nav {
    margin-left: -300px;
  }

  .header_logo_name {
    margin-top: 12px;
    margin-left: 10px;
  }

  .ham-menu {
    position: relative;
    display: none;

    @include responsive(tablet) {
      display: block;
    }

    @include responsive(mobile) {
      display: block;
    }
  }

  .ham-open {
    width: 25px;
  }

  .ham-cross {
    position: absolute;
    top: -15px;
    right: 0px;
    display: none;
  }

  .nav_search {
    cursor: pointer;
  }
}

.menu-items {
  display: none;
  position: fixed;
  top: 100px;
  left: 10px;
  right: 10px;

  ul {
    list-style: none;
    background-color: white;
    padding: 50px 0px 0px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    height: 50vh;

    li {
      text-decoration: none;
      color: white;
      margin-bottom: 50px;
      color: black;

      a {
        cursor: pointer;
        font-size: 18px;
        color: black;

        &:hover {
          color: red;
        }
      }
    }
  }
}

@include responsive(tablet) {
  .nav,
  .nav_search {
    display: none;
  }
}

@include responsive(mobile) {
  .nav,
  .nav_search {
    display: none;
  }
}
