.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-left: 50px;
    cursor: pointer;

    &:hover {
      color: aqua;
    }
  }

  .dropdown {
    margin-left: 50px;
    cursor: pointer;

    #checkbox {
      display: none;
    }
  }

  .dropdown-content {
    margin-top: 20px;
    padding: 20px 50px 20px 20px;
    display: none;
    background-color: white;
    position: absolute;
    width: 400px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    .dropdown-details {
      display: flex;
      align-items: center;

      svg {
        margin-right: 20px;
      }

      h4 {
        font-size: 20px;
        margin: 0;
        margin-top: 20px;
      }

      p {
        display: inline-block;
        color: black;
      }
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style: none;
    margin-left: 60px;
  }

  a {
    &:hover {
      color: aqua;
    }
  }
}

.search-model {
  width: 600px;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  right: 550px;
  top: 150px;
  z-index: 999;
  display: none;

  &_contents {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 20px;
  }

  .cross {
    position: absolute;
    right: 0;
    top: -22px;
  }

  input {
    outline: none;
    background: transparent;
    border: none;
    width: 100%;
  }

  input::placeholder {
    font-size: 16px;
  }
}
