.banner {
  background: linear-gradient(
      180deg,
      rgba(0, 41, 83, 0.8) 0%,
      rgba(0, 45, 91, 0.8) 100%
    ),
    url("../../images/homepage-bg.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  h2 {
    margin: 0;
  }

  h5 {
    margin-bottom: 50px;
  }
}

.btn-banner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  width: 150px;
  border-radius: 8px;
  border: 1px solid #ffe500;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;

  &:hover {
    color: aqua;

    g {
      path {
        fill: aqua;
      }
    }
  }
}
