.banner {
  background: linear-gradient(
      180deg,
      rgba(0, 41, 83, 0.8) 0%,
      rgba(0, 45, 91, 0.8) 100%
    ),
    url("../../images/homepage-bg.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 800px;

  &_wrapper {
    @include responsive(sm) {
      padding: 0 20px;
    }

    .details {
      padding: 0px 200px;
      color: #e3e3e3;
      letter-spacing: 1px;
    }
  }

  @include responsive(sm) {
    display: block;
    padding: 250px 0px 0;

    .details {
      padding: 0 20px;
    }
  }
}

.btn-banner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  width: 150px;
  border-radius: 8px;
  border: 1px solid #ffe500;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;

  &:hover {
    color: aqua;

    g {
      path {
        fill: aqua;
      }
    }
  }
}

.banner-black {
  background: black;
  opacity: 0.8;

  h2,
  p {
    color: rgb(87, 84, 84);
    opacity: 0;
  }

  a {
    color: black;
  }
}
