.campaigns {
  background-color: var(--background-color);
  text-align: center;
  position: relative;

  &_container {
    padding: 100px 0px;

    .details {
      padding: 0px 200px;
    }

    @include responsive(sm) {
      .details {
        padding: 0;
      }
    }
  }

  .grid-items {
    text-align: start;
    border-radius: 20px;
    background: #fff;

    img {
      width: 100%;
      border-radius: 10px 10px 0px 0px;
    }
  }

  .grid-details {
    padding: 20px 30px;
  }

  .grid-link {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
}

.campaigns-black {
  background: black;
  opacity: 0.8;
}
