.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;

  &_header {
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .contact-us {
    margin: 20px 40px;
  }
}
