.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    margin: 100px 100px 30px 100px;
  }

  &_header {
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .contact-us_container {
    margin: 20px;
  }
}
