.news {
  text-align: center;

  &_container {
    padding: 100px 0px;

    .details {
      padding: 0px 200px;
    }

    @include responsive(sm) {
      .details {
        padding: 0;
      }
    }
  }
}
