.news {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &_container {
    margin: 0px 100px 100px 100px;
  }
}

@media all and (max-width: 768px) {
  .news_container {
    margin: 20px;
  }
}
