.resources {
  background-color: var(--background-color);
  text-align: center;

  &_container {
    padding: 100px 0px;
  }

  .grid-items {
    background-color: #fff;
    padding: 50px;

    &_logo {
      display: flex;
      align-items: center;

      svg {
        background: var(--svg-background-color);
        padding: 20px;
        border-radius: 15px;
        margin-right: 10px;
      }
    }
  }
}
@media all and (max-width: 768px) {
  .resources_container {
    margin: 20px 40px;
  }
}
