.who-we-are {
  &_wrapper {
    padding: 100px 0px;

    @include responsive(sm) {
      padding: 50px 20px;
    }
  }

  .flexcontainer {
    display: flex;
    gap: 50px;

    @include responsive(sm) {
      display: block;
      gap: 0px;
      flex-wrap: wrap;
    }

    @include responsive(lg) {
      gap: 0px;
      flex-wrap: wrap;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }

  &_right {
    margin-top: 150px;

    @include responsive(lg) {
      margin: 0;
    }

    @include responsive(sm) {
      margin: 0;
    }
  }

  &_carousel {
    background-color: var(--background-color);

    .container {
      position: relative;

      i {
        top: 48%;
        height: 50px;
        width: 50px;
        cursor: pointer;
        position: absolute;
        font-size: 1.25rem;
        text-align: center;
        line-height: 50px;
        transform: translateY(-50%);
        transition: transform 0.1s linear;
      }
    }

    i:active {
      transform: translateY(-50%) scale(0.85);
    }

    i:first-child {
      left: 0px;
    }
    i:last-child {
      right: 0px;
    }

    @include responsive(lg) {
      // i {
      //   display: none;
      // }
    }

    &_container {
      max-width: 1046px;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0.75rem;
      padding-left: 0.75rem;

      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc(100% / 4);
      overflow: hidden;
      padding: 100px 0px;

      .carousel-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include responsive(lg) {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc(100% / 3);
        overflow: hidden;
        padding: 50px 20px;
      }

      @include responsive(sm) {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc(100% / 2);
        overflow: hidden;
        padding: 50px 20px;
      }

      @include responsive(xsm) {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc(100%);
        overflow: hidden;
        padding: 50px 20px;
      }
    }
  }
}

.company-name {
  padding: 5px;
}
