.who-we-are {
  &_container {
    padding: 100px 0px;
  }

  .gridcontainer {
    display: flex;
    gap: 10px;

    @include responsive(sm) {
      display: block;
      gap: 0px;
      flex-wrap: wrap;
    }

    @include responsive(lg) {
      gap: 0px;
      flex-wrap: wrap;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }

  &_right {
    margin-top: 150px;
  }

  &_carousel {
    background-color: var(--background-color);

    &_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 100px 0px;
    }
  }
}

.company-name {
  padding: 5px;
}

.who-we-are_right {
  @include responsive(lg) {
    margin: 0;
  }

  @include responsive(sm) {
    margin: 0;
  }
}

.who-we-are_carousel_container {
  @include responsive(sm) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0px;

    .left-arrow,
    .right-arrow {
      display: none;
    }
  }
}
