.who-we-are {
  &_container {
    margin: 100px 100px;
  }

  &_link {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }

  &_right {
    margin-top: 150px;
  }

  &_carousel {
    background-color: var(--background-color);

    &_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 80px 0px;
      margin: 100px 100px;
    }
  }
}
.company-name {
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .who-we-are_container {
    margin: 20px;
  }

  .who-we-are_right {
    margin: 0;
  }

  .who-we-are_carousel {
    display: none;
  }
}
