.who-we-are {
  &_container {
    @include padding();
  }

  .gridcontainer {
    display: flex;
    gap: 10px;
  }

  &_link {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }

  &_right {
    margin-top: 150px;
  }

  &_carousel {
    background-color: var(--background-color);

    &_container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include padding();
    }
  }
}

.company-name {
  padding: 5px;
}

@media screen and (max-width: 1240px) {
  .gridcontainer {
    gap: 0px;
    flex-wrap: wrap;
  }

  .who-we-are_right {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .gridcontainer {
    gap: 50px;
    flex-wrap: wrap;
  }

  .who-we-are_carousel_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0px;

    .left-arrow,
    .right-arrow {
      display: none;
    }
  }
}

@media screen and (min-width: 2500px) {
  .who-we-are_container {
    .who-we-are_right {
      margin: 0;
    }

    .gridcontainer {
      display: flex;
      flex-direction: column;

      .who-we-are_left,
      .who-we-are_right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .who-we-are_carousel_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0;
  }
}
